<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BudgeLogMain.Properties.Settings.BudgetAutomateConnectionString"
            connectionString="Data Source=DESKTOP-AC927C3;Initial Catalog=BudgetAutomate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>